{% extends 'base.html.twig' %}

{% block title %}services{% endblock %}

{% block body %}

    <div class="card-deck">
        <div class="card">
            <img src="../aide-a-la-toilette.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aide à la toilette</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to .</p>
                
            </div>
        </div>
        <div class="card">
            <img src="../aide-menagere.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aide au Ménage</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

            </div>
        </div>
        <div class="card">
            <img src="../aide-aux-repas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aide au Repas</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>

            </div>
        </div>
    </div>


    <div class="card-deck">
        <div class="card">
            <img src="../aide-courses.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aide aux courses</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

            </div>
        </div>
        <div class="card">
            <img src="../aide-aux-coucher.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aide au Coucher</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

            </div>
        </div>
        <div class="card">
            <img src="../promenade.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Premnade</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>

            </div>
        </div>
    </div>



{% endblock %}
